<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kieslect.oms.mapper.DeviceActivityApiMapper">


    <select id="getList" resultType="map" parameterType="map">
        SELECT
        COALESCE(a.device_id, '') AS device_id,
        COALESCE(a.device_alias, '') AS device_info_alias,
        COALESCE(a.country, '') AS device_info_country,
        COALESCE(a.province, '') AS device_info_province,
        COALESCE(a.city, '') AS device_info_city,
        COALESCE(a.operating_system, '') AS device_info_os,
        COALESCE(a.phone_model, '') AS device_info_model,
        COALESCE(a.gender, '') AS device_info_gender,
        COALESCE(a.birthdate, '') AS device_info_birthdate,
                a.activation_time AS device_info_activation_time,
        COALESCE(a.activation_timezone, '') AS device_info_timezone,
        COALESCE(a.mac_address, '') AS device_info_mac,
        COALESCE(a.serial_number, '') AS device_info_serial,
        COALESCE(a.ip_address, '') AS device_info_ip,
        COALESCE(a.firmware_version, '') AS device_info_firmware,
        COALESCE(a.data_source, '') AS device_info_source,
        COALESCE(a.account_type, '') AS device_info_account_type
        FROM t_device_active_info a
        <where>
            <if test="startDate != null and endDate != null">
                AND a.activation_time BETWEEN #{startDate} AND #{endDate}
            </if>

            AND (
            a.device_alias LIKE '%Balancs%'
            OR a.device_alias LIKE '%Pura%'
            OR a.device_alias LIKE '%Feel%'
            OR a.device_alias LIKE '%civis%'
            )
        </where>

    </select>

</mapper>
